<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/registration.css">
  <title>Crasher Login</title>
</head>

<body>
  <h1>Crasher</h1>
  <form class="" action="index.html" method="post">
    <input type="text" name="" placeholder="Username/Email">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Submit">
  </form>
  <span>Not a member yet? <a href="signup">Signup</a></span>
</body>

</html>
