<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">
  <metaname="viewport" content="width=device-width, initial-scale=1">
    <title>Crashers</title>
    <script src="main.js"></script>
</head>

<body class="form_page">
  <header>

  </header>

  <section id="postArea">
    <section id="inputSection">

        <h1>Post The Event</h1>
        <form class="form_input" action="/crash" method="post">

          <input id="postTitle" class="long" placeholder="title" type="text" name="title" value="">
          <input type="text" class="long" placeholder="location" name="address" value="">
          <input type="text" class="long" name="url" value="" placeholder="URL">
          <input type="text" name="time" class="short" value="" placeholder="time">
          <input type="text" name="date" class="short" id="" placeholder="date">
          <textarea name="description" placeholder="Description" rows="8" cols="125"></textarea>

        <fieldset>

        <label class="radio-inline">General</label>
        <input type="radio" name="general" value="0">

        <label class="radio-inline">House</label>
        <input type="radio" name="house" value="1">

        </fieldset>

        <button type="submit" name="button">Submit</button>
        </form>

    </section>
  </section>

</body>

</html>
