<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">
  <metaname="viewport" content="width=device-width, initial-scale=1">
    <title>Crashers</title>
    <script src="main.js"></script>
</head>

<body>
  <header>

  </header>

  <section id="postArea">
    <section id="inputSection">

        <h1>Write post here</h1>
        <form class="form_input" action="/crash" method="post">
          <input id="postTitle" class="long" placeholder="title" type="text" name="title" value="">
          <input type="text" class="long" placeholder="location" name="address" value="">
          <input type="text" class="long" name="url" value="" placeholder="URL">
          <input type="text" name="time" class="short" value="" placeholder="time">
          <input type="text" name="date" class="short" id="" placeholder="date">
          <textarea name="description" rows="8" cols="120"></textarea>

        <fieldset>
        <label class="radio-inline"><input type="radio" name="optradio" value="0">Cohort</label>
          <% if (true) { %>
            <label class="radio-inline"><input type="radio" name="optradio" value="1">House1</label>
          <% }
          else if (false) { %>
            <label class="radio-inline"><input type="radio" name="optradio" value="2">House2</label>
          <% }
          else if (false) { %>
            <label class="radio-inline"><input type="radio" name="optradio" value="3">House3</label>
          <% }
          else if (false) { %>
            <label class="radio-inline"><input type="radio" name="optradio" value="4">House4</label>
          <% } %>
        </fieldset>

        <button type="submit" name="button">Submit</button>
        </form>

    </section>
  </section>

</body>

</html>
