<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Crashers</title>
</head>


<body class="signup_page">
  <section class="signup_form">
    <h1>Crashers</h1>
    <form class="" action="/signup" method="post">
      <input type="text" name="email" placeholder="Username/Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" class="submit_btn" name="" value="Submit">
      <label>Cass</label>
    <input type="radio" name="house" value="cass">

    <label>Hayden</label>
    <input type="radio" name="house" value="hayden">

    <label>Moses</label>
    <input type="radio" name="house" value="moses">

    <label>Gardner</label>
    <input type="radio" name="house" value="gardner
    </form>
    <span>Already have an account?</span>
    <a href="login">Login</a>
  </section>

</body>

</html>
