<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/registration.css">
  <title>Document</title>
</head>

<body>
  <h1>Crashers</h1>
  <form class="" action="index.html" method="post">
    <input type="text" name="" placeholder="Username/Email">
    <input type="password" name="" placeholder="Password">
    <input type="password" name="" placeholder="Confirm Password">
    <input type="submit" name="" value="Submit">
  </form>
  <select class="" name="">
  <option value="">House 1</option>
  <option value="">House 2</option>
  <option value="">House 3</option>
  <option value="">House 4</option>
</select>
  <span>Already have an account? <a href="login">Login</a></span>
</body>

</html>
