/*----------------Landing Page Styles---------------------------------*/

a.new_post {
  text-align: center;
  display: block;
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
  max-width: 150px;
  margin: 0 auto;
  background-color: white;
}

section.chat {
  border: 2px solid black;
  background-color: #ed1b24;
  margin-bottom: 20px;
}

section.chat ul {
  list-style: none;
  padding-left: 0;
}

section.chat ul li {
  border: 1px solid black;
  margin:10px 50px;
}

section.chat ul li a {
  color: #ffffff;
  text-decoration: none;
}

section.chat ul h2 {
  text-align: center;
}

section.chat ul h3 {
  font-weight: bold;
}

section.chat ul h4 {

}

section.chat ul h5 {
  display: inline;
}

.landing_page {
  /* background-image: url("../img/rcLogo.png");
  background-size: cover; */
  background-color: #21262d;
}

.general.chat {
  height: 300px;
  overflow: scroll;
}

.house.chat {
  height: 375px;
  overflow: scroll;
}



/*-------------Profile Page/ Form Styles -----------------------------*/

body.form_page {
  background-color: #ed1b24;
}

#inputSection button {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  min-width: 80px;
  min-height: 30px;
}

#inputSection h1 {
  display: block;
  text-align: center;
}

#inputSection form {
  width: 60%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 15px;
}
#inputSection form input{
  margin: 10px auto;
  height: 40px;
}

#inputSection form input.long {
  width: 98%;
}

#inputSection form input.short {
  width: 48%;
  display: inline;
}
